<a href="https://colab.research.google.com/github/GabrielPSMartins/rna_com_keras/blob/main/lab_rna_com_keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score, f1_score, recall_score, confusion_matrix
from keras.models import Sequential
from keras.layers import Dense, Dropout, Input

In [61]:
df = pd.read_csv("Churn_treino.csv", sep=";")
df

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1         10134888       1
1             608     Spain  Female  ...               1         11254258       0
2             502    France  Female  ...               0         11393157       1
3             699    France  Female  ...               0          9382663       0
4             850     Spain  Female  ...               1           790841       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0          9627064       0
9996          516    France    Male  ...               1         10169977       0
9997          709    France  Female  ...               1          4208558       1
9998          772   Germany    Male  ...               0          9288852       1
9999          792    France  Female  ...               0          3819078       0

[10000 rows x 11 columns]

In [62]:
X = df.drop("Exited", axis=1)
y = df["Exited"]

In [63]:
standardscaler = StandardScaler()
numerical = X.select_dtypes(include=['float64', 'int64']).columns
X[numerical] = standardscaler.fit_transform(X[numerical])

In [64]:
X

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0       -0.326221    France  Female  ...   0.646092        0.970243         0.170614
1       -0.440036     Spain  Female  ...  -1.547768        0.970243         0.353281
2       -1.536794    France  Female  ...   0.646092       -1.030670         0.375948
3        0.501521    France  Female  ...  -1.547768       -1.030670         0.047859
4        2.063884     Spain  Female  ...   0.646092        0.970243        -1.354223
...           ...       ...     ...  ...        ...             ...              ...
9995     1.246488    France    Male  ...   0.646092       -1.030670         0.087743
9996    -1.391939    France    Male  ...   0.646092        0.970243         0.176340
9997     0.604988    France  Female  ...  -1.547768        0.970243        -0.796492
9998     1.256835   Germany    Male  ...   0.646092       -1.030670         0.032551
9999     1.463771    France  Female  ...   0.646092       -1.030670        -0.860051

[10000 rows x 10 columns]

In [65]:
labelencoder = LabelEncoder()
categorical = X.select_dtypes(include='object').columns
for col in categorical:
  X[col] = labelencoder.fit_transform(X[col])

In [66]:
X

      CreditScore  Geography  ...  IsActiveMember  EstimatedSalary
0       -0.326221          0  ...        0.970243         0.170614
1       -0.440036          2  ...        0.970243         0.353281
2       -1.536794          0  ...       -1.030670         0.375948
3        0.501521          0  ...       -1.030670         0.047859
4        2.063884          2  ...        0.970243        -1.354223
...           ...        ...  ...             ...              ...
9995     1.246488          0  ...       -1.030670         0.087743
9996    -1.391939          0  ...        0.970243         0.176340
9997     0.604988          0  ...        0.970243        -0.796492
9998     1.256835          1  ...       -1.030670         0.032551
9999     1.463771          0  ...       -1.030670        -0.860051

[10000 rows x 10 columns]

In [67]:
X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.3, random_state=0)

In [68]:
modelo = Sequential()
modelo.add(Input(shape=(X_treino.shape[1],)))
modelo.add(Dense(units=64, activation='relu'))
modelo.add(Dropout(0.4))
modelo.add(Dense(units=32, activation='relu'))
modelo.add(Dropout(0.4))
modelo.add(Dense(units=64, activation='relu'))
modelo.add(Dropout(0.4))
modelo.add(Dense(units=1, activation='sigmoid'))

In [ ]:
modelo.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
modelo.fit(X_treino, y_treino, epochs=50, batch_size=32)